@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

input:focus {
    outline: 0;
}

input[type='submit'],
button,
i,
svg {
    user-select: none;
}

input[type='submit'],
button {
    cursor: pointer;
}
